<%: func DashboardIndex(buffer *bytes.Buffer) %>
<%+ "dashboard_start.html" %>
<script>
    var userName = getUserName();

    function noVersionToSeeView() {
      var nvtsView = `
        <div class="notification">
          There's no version of  this file. <a href="/documentation/modify-image" target="blank">Check this document to see how to modify uploaded images.</a>
        </div>
        `;
      document.querySelector('#dashboard-content').innerHTML = nvtsView;
    }

    function fileMasterOnClick(e, t) {
      e.preventDefault();
      page = 1;
      if(t === 0){
        var li = document.createElement('li');
        li.innerHTML = `<a id="${e.target.id}" onclick="fileMasterOnClick(event, 1)">${e.target.text}</a>`;
        document.querySelector('.breadcrumb ul').appendChild(li);
      }

      var loadingView = '<a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>';
      document.querySelector('#dashboard-content').innerHTML = loadingView;
      var fileId = e.target.id;
      getFileVersionsForPage(fileId, page, function(response){
        // console.log(data)
        if (!response.status){
          displayError(response.message);
          return;
        }
        if (response.status && !response.data.length){

          noVersionToSeeView();
          return;
        }

        var userName = getUserName();
        var itemsListView = ``;
        for (var i =0; i < response.data.length; i+=1) {
          var item = response.data[i];
          itemsListView += createVersionItem(item, userName)
        }

        var listView = `
          <table class="table">
            <tbody>
             ${itemsListView}
          </table>
        `
        if (response.data.length === 20){
          listView += `
            <a id="${fileId}" class="button is-white" onclick=loadVersions(event)>Load more</a>
          `
        }
      document.querySelector('#dashboard-content').innerHTML = listView;

      })
    }

    function displayError(message){
      var errorView = `
      <div class="notification is-danger">
        ${message}
          <br/>
         <a class="button is-small" href="/dashboard">Retry</a>
      </div>
      `
      document.querySelector('#dashboard-content').innerHTML = errorView;
    }

    var page = 1;

    function createItem(item, userName){
      return `
          <tr id="tr-${item.ID}">
            <td><a id="${item.ID}" onclick="fileMasterOnClick(event, 0)">${item.name}</a></td>
            <td>${item.CreatedAt}</td>
            <td><a class="button is-text" target="_blank" href="${IMGSERVER_URL}/user/${userName}/resource/${item.name}">View</a></td>
            <td><a id="${item.ID}" onclick="deleteRow(event)" class="button is-text" style="background: white; color:#ff3860">Delete</a></td>
          </tr>
          `
    }

    function createVersionItem(item, userName){
      return `
          <tr id="tr-${item.ID}">
            <td>${item.name}</td>
            <td>${item.operations}</td>
            <td>${item.CreatedAt}</td>
            <td><a class="button is-text" target="_blank" href="${IMGSERVER_URL}/user/${userName}/modifiers/${item.operations}/resource/${item.name}">View</a></td>
            <td><a id="${item.ID}" onclick="deleteRow(event)" class="button is-text" style="background: white; color:#ff3860">Delete</a></td>
          </tr>
          `
    }

    function loadVersions(e){
        e.preventDefault();
        page += 1;
        e.target.classList.add('is-loading');
        getFileVersionsForPage(e.target.id, page, function(response){
          if (response.data && response.data.length) {
            var itemsListView = ``;
            for (var i =0; i < response.data.length; i+=1) {
              var item = response.data[i];
              itemsListView += createVersionItem(item, userName)
            }
            document.querySelector('table tbody').innerHTML += itemsListView
            e.target.classList.remove('is-loading');
          }
          if (response.data.length != 20) {
            e.target.remove();
          }
        })
    }

    function loadMoreMasters(e){
        e.preventDefault();
        page += 1;
        e.target.classList.add('is-loading');
        getFilesForPage(page, function(response){
          if (response.data && response.data.length) {
            var itemsListView = ``;
            for (var i =0; i < response.data.length; i+=1) {
              var item = response.data[i];
              itemsListView += createItem(item, userName)
            }
            document.querySelector('table tbody').innerHTML += itemsListView
            e.target.classList.remove('is-loading');
          }

          if (response.data.length != 20) {
            e.target.remove();
          }

        })
    }
    function nothingToSeeView(){
      var ntsview = `
      <div class="notification">
        Bucket is empty. <a href="/documentation/upload-image" target="blank">Check this document to see how to upload images.</a>
      </div>
    `;
      document.querySelector('#dashboard-content').innerHTML = ntsview;
    }
    document.addEventListener('DOMContentLoaded', function() {

      var li = document.createElement('li');
      li.innerHTML = '<a href="/dashboard">Objects</a>'
      document.querySelector('.breadcrumb ul').appendChild(li);

      getFilesForPage(page, function(response){
        if (!response.status){
          displayError(response.message);
          return;
        }

        if (page == 1 && response.status && !response.data.length){
          nothingToSeeView();
          return;
        }
        var itemsListView = ``;
        for (var i =0; i < response.data.length; i+=1) {
          var item = response.data[i];
          itemsListView +=  createItem(item, userName)
        }

        var listView = `
          <table class="table">
            <tbody>
             ${itemsListView}
          </table>
        `
        if (response.data.length === 20){
          listView += `
            <a class="button is-white" onclick=loadMoreMasters(event)>Load more</a>
          `
        }
      document.querySelector('#dashboard-content').innerHTML = listView;
      })
    })
    var deleteTargetId = 0;
    function deleteRow(e) {
      deleteTargetId = 0;
        // displayNoDataView();
        deleteTargetId = e.target.id;
        document.querySelector('.modal').classList.add('is-active');
    }
    function closeConfirmModal(e){
      e.preventDefault();
      document.querySelector('.modal').classList.remove('is-active')
    }
    function deleteConfirm(e){
      e.preventDefault();
      e.target.classList.add('is-loading')
      deleteFile(deleteTargetId, function(response){

        if (response.status){
            document.getElementById("tr-" + deleteTargetId).remove();

            var countRows = document.querySelectorAll("table tr").length
            if (countRows === 0) {
             var depth = document.querySelectorAll(".breadcrumb li").length
             if (depth == 2){
               nothingToSeeView();
             } else {
               noVersionToSeeView();
             }
            }
            deleteTargetId = 0;
        }
        else {
          displayError(response.message);
        }
        e.target.classList.remove('is-loading');
        document.querySelector('.modal').classList.remove('is-active');
      })
    }
</script>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message">
      <article class="message is-danger">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <p>Are you sure you want to delete?</p>
          <br/>
          <a class="button is-white" onclick="closeConfirmModal(event)">Cancel</a>
          <a class="button is-danger" onclick="deleteConfirm(event)">Confirm</a>
        </div>
      </article>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="closeConfirmModal(event)"></button>
</div>
<p class="title">
  Uploaded images
</p>
  <hr style="margin: 0 0 3rem;">
<div id="dashboard-content">
  <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
</div>
<%+ "dashboard_end.html" %>
