<script>

// var IMGSERVER_URL = 'http://localhost:3001'
var API_URL = '/api'
var IMGSERVER_URL = 'http://imgserver-testing.herokuapp.com'

function validateEmail(email) {
  var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(String(email).toLowerCase());
}
function submitLogin(data, grecaptcha, callback) {
  grecaptcha = grecaptcha ? grecaptcha : "-1"
  axios.post(API_URL + '/user/login/grecaptcha/' + grecaptcha, data)
  .then(function (response) {
    callback(response.data)
    console.log(response.data);
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}

function submitCreateAccount(data, grecaptcha, callback) {
  grecaptcha = grecaptcha ? grecaptcha : "-1"
  axios.post(API_URL + '/user/new/grecaptcha/' + grecaptcha, data)
  .then(function (response) {
    callback(response.data)
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}

function logout(e){
  e.preventDefault();
  Cookies.remove('user');
  window.location.replace("/");
}
document.addEventListener('DOMContentLoaded', function() {

  var username = getUserName();
  var userView = `
    <div>
      ${username}
      <a href="/" id="logout" onclick="logout(event)">Logout</a>
    </div>
  `;

  var registerLoginButtons = `
    <a class="button is-primary" href="/signup">
      <strong>Sign up</strong>
    </a>
    <a class="button is-light"  href="/login">
      Log in
    </a>
  `
  if (Cookies.get('user')) {
    document.querySelector('.nav-top-left').innerHTML = userView;
    let logout = document.querySelector("#logout");
  } else {
    document.querySelector('.nav-top-left').innerHTML = registerLoginButtons;
  }
})

function getFilesForPage(page, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.get(API_URL + '/files/page/' + page, config)
  .then(function (response) {
    callback(response.data)
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}
function getFileVersionsForPage(master, page, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.get(API_URL + '/file/'+master+'/versions/page/' + page, config)
  .then(function (response) {
    callback(response.data)
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}
function getUserName(){
  if (Cookies.get('user')){
    var user = JSON.parse(Cookies.get('user'));
    return user.account.username;
  }
  return '';
}
function getSettings(callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.get(API_URL + '/user/me', config)
  .then(function (response) {
    callback(response.data);
  })
  .catch(function (error) {
    callback({status: false, message: error});
  })
}

function createDomain(data, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.post(API_URL + '/domains', data, config)
  .then(function (response) {
    callback(response.data);
  })
  .catch(function (error) {
    callback({status: false, message: error});
  })
}

function deleteDomain(data, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.delete(API_URL + '/domains/' + data, config)
  .then(function (response) {
    callback(response.data);
  })
  .catch(function (error) {
    callback({status: false, message: error});
  })
}

function deleteFile(data, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.delete(API_URL + '/files/' + data, config)
  .then(function (response) {
    callback(response.data);
  })
  .catch(function (error) {
    callback({status: false, message: error});
  })
}

function getLogsForPage(start, end, page, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.get(API_URL + '/reports/logs/start/'+start+'/end/'+end+'/page/' + page, config)
  .then(function (response) {
    callback(response.data)
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}

function getReportFor(start, end, callback) {
  var user = JSON.parse(Cookies.get('user'));
  let config = {
    headers: {
      Authorization: 'Bearer ' + user.account.token,
    }
  }
  axios.get(API_URL + '/reports/start/'+start+'/end/'+end, config)
  .then(function (response) {
    callback(response.data)
  })
  .catch(function (error) {
    callback({status: false, message: error})
  })
}



/**
 * RegExps.
 * A URL must match #1 and then at least one of #2/#3.
 * Use two levels of REs to avoid REDOS.
 */
// Credits https://github.com/segmentio/is-url/blob/master/index.js
var protocolAndDomainRE = /^(?:\w+:)?\/\/(\S+)$/;

var localhostDomainRE = /^localhost[\:?\d]*(?:[^\:?\d]\S*)?$/
var nonLocalhostDomainRE = /^[^\s\.]+\.\S{2,}$/;

/**
 * Loosely validate a URL `string`.
 *
 * @param {String} string
 * @return {Boolean}
 */

function isUrl(string){
  if (typeof string !== 'string') {
    return false;
  }

  var match = string.match(protocolAndDomainRE);
  if (!match) {
    return false;
  }

  var everythingAfterProtocol = match[1];
  if (!everythingAfterProtocol) {
    return false;
  }

  if (localhostDomainRE.test(everythingAfterProtocol) ||
      nonLocalhostDomainRE.test(everythingAfterProtocol)) {
    return true;
  }

  return false;
}
</script>
