<%: func MetricsIndex(buffer *bytes.Buffer) %>
<%+ "dashboard_start.html" %>
<style>
  #chart_div{
    margin-left: -4em;
  }
  .chart {
    width: 100%;
    min-height: 450px;
  }
  .row {
    margin:0 !important;
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

var chart;
var options = {
  height: 500,
  chartArea: {width: '80%', height: '80%'},
  hAxis: {
      gridlines: {
          color: 'transparent'
      },
  },
  vAxis: {
      gridlines: {
          color: '#f0f0f0'
      },
      minorGridlines: {
        color: 'transparent'
      }
  },
  lineWidth: 4,
  colors: ['#3273dc', '#b9c246', 'red', 'orange']
};

var startDate = "2018-12-09"
var endDate = "2019-01-10"

document.addEventListener('DOMContentLoaded', function() {
  getLogs();
  var li = document.createElement('li');
  li.innerHTML = '<a href="/metrics">Metrics</a>'
  document.querySelector('.breadcrumb ul').appendChild(li);

  var startDateInput = document.getElementById("startDate")
  var endDateInput = document.getElementById("endDate")
  startDateInput.value = startDate;
  endDateInput.value = endDate;

  startDateInput.onchange = function(e){
    startDate = e.target.value;
    endDate = endDateInput.value;
    getMetrics()
    getLogs();
  }

});

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Data');
      data.addColumn('number', 'Served from cache');
      data.addColumn('number', 'Served original image');
      data.addColumn('number', 'Download resource and save in blob');
      data.addColumn('number', 'Operation performed');
      chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);

      getMetrics();
    }
    function getMetrics(){
      getReportFor(startDate, endDate, function(response) {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Data');
        data.addColumn('number', 'Served from cache');
        data.addColumn('number', 'Served original image');
        data.addColumn('number', 'Download resource and save in blob');
        data.addColumn('number', 'Operation performed');

        var items = {}
        var rows = [];
        for (var i = 0; i < response.data.length; i+=1) {
          var item = response.data[i];
          if (!items[item.created_at]) {
            items[item.created_at] = {0: 0, 1: 0, 2: 0, 3:0}
          }
          items[item.created_at][item.type] = item.total;
        }

        for (var key in items) {
          var v = items[key]
          rows.push([new Date(key), v["0"], v["1"], v["2"], v["3"]]);
        }
        data.addRows(rows);
        chart.draw(data, options)
      });

      // data.addRows([
      //   [new Date(2019, 3, 1), 123, 5],
      //   [new Date(2019, 4, 1), 150, 6],
      //   [new Date(2019, 5, 1), 160, 7],
      //   [new Date(2019, 7, 1), 140, 8],
      //   [new Date(2019, 8, 1), 280, 12],
      // ]);
    }

    function createRowElement(item) {
      return `
        <tr>
          <td>${item.name}</td>
          <td>${item.CreatedAt}</td>
          <td>${item.type}</td>
        </tr>
      `
    }
    function getLogs(){
      getLogsForPage(startDate, endDate, 1, function(data){
        var rows = '';
        for (var i = 0; i < data.logs.length; i += 1) {
          rows += createRowElement(data.logs[i]);
        }
        var logsView = `
        <label class="label">20 most recent logs</label>
        <table class="table">
          <thead>
            <tr>
              <th>File name</th>
              <th>Time</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
          ${rows}
        </tbody>
        </table>
        `
        document.getElementById("logs").innerHTML = logsView
      })
    }
</script>
<p class="title">
  Overview
</p>
  <hr style="margin: 0 0 3rem;">
  <div class="columns">
  <div class="column">
    <div class="field">
    <div class="control">
      <input id="startDate" class="input" type="text" placeholder="From" value="">
    </div>
  </div>
  </div>
  <div class="column">
    <div class="field">
    <div class="control">
      <input id="endDate" class="input" type="text" placeholder="To" value="">
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="clearfix"></div>
  <div class="col-md-6">
     <div id="chart_div">
       <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
     </div>
  </div>
</div>
<p class="title">
  Logs
</p>
<hr style="margin: 0 0 3rem;" >
<div id="logs">
  <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
</div>
<%+ "dashboard_end.html" %>
