<%: func MetricsIndex(buffer *bytes.Buffer) %>
<%+ "dashboard_start.html" %>
<style>
  #chart_div{
    margin-left: -4em;
  }
  .chart {
    width: 100%;
    min-height: 450px;
  }
  .row {
    margin:0 !important;
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
  var li = document.createElement('li');
  li.innerHTML = '<a href="/metrics">Metrics</a>'
  document.querySelector('.breadcrumb ul').appendChild(li);
});

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Data');
      data.addColumn('number', 'Requests');
      data.addColumn('number', 'Image edits');

      data.addRows([
        [new Date(2019, 3, 1), 123, 5],
        [new Date(2019, 4, 1), 150, 6],
        [new Date(2019, 5, 1), 160, 7],
        [new Date(2019, 7, 1), 140, 8],
        [new Date(2019, 8, 1), 280, 12],
      ]);

      var options = {
        height: 500,
        chartArea: {width: '80%', height: '80%'},
        hAxis: {
            gridlines: {
                color: 'transparent'
            },
        },
        vAxis: {
            gridlines: {
                color: '#f0f0f0'
            },
            minorGridlines: {
              color: 'transparent'
            }
        },
        lineWidth: 4,
        colors: ['#3273dc', '#b9c246']
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>
<p class="title">
  Overview
</p>
  <hr style="margin: 0 0 3rem;">
<div class="row">
  <div class="clearfix"></div>
  <div class="col-md-6">
     <div id="chart_div">
       <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
     </div>
  </div>
</div>
<p class="title">
  Logs
</p>
<hr style="margin: 0 0 3rem;">
<table class="table">
  <thead>
    <tr>
      <th>File name</th>
      <th>Time</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>16521230968_5cbd96f727_h.jpeg</td>
    <td>2019-01-06T14:29:27</td>
    <td>Fetched from cache</td>
  </tr>
  <tr>
    <td>nyc.jpg</td>
    <td>2019-01-06T14:29:27</td>
    <td>Fetched from cache</td>
  </tr>
  <tr>
    <td>resize=width:1400,height:700/nyc.jpg</td>
    <td>2019-01-06T14:29:27</td>
    <td>Fetched from cache</td>
  </tr>
</tbody>
</table>
<%+ "dashboard_end.html" %>
