<%: func ModifyImageIndex(buffer *bytes.Buffer) %>
<%+ "documentation_start.html" %>
<h1 class="title">Modify Image</h1>
<p class="subtitle is-6">
      A simple <strong>container</strong> to center your content horizontally
  </p>
  <hr style="margin: 0 0 3rem;">
  <p>Lorem ipsum</p>
  <code>
    <pre>
      https://imgserver-testing.herokuapp.com/user/ismajl/modifiers/crop=left:492,top:1376,right:1933,bottom:1087&resize=width:1024,height:576/resource/isaac-castillejos-1242205-unsplash.jpg
    </pre>
  </code>
<%+ "documentation_end.html" %>
