<%: func SettingsIndex(buffer *bytes.Buffer) %>
<%+ "dashboard_start.html" %>
<script>
  document.title = "Dashboard - Settings";

  document.addEventListener('DOMContentLoaded', function() {
    var li = document.createElement('li');
    li.innerHTML = '<a href="/dashboard/settings">Settings</a>'
    document.querySelector('.breadcrumb ul').appendChild(li);
  });

  function userDetailsView(data) {
    var view = `
    <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <p>${data.data.username}</p>
    </div>
    </div>
    <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <p>${data.data.email}</p>
    </div>
    </div>
    `;
    document.querySelector("#user-details").innerHTML = view;
  }

  function revealSecretKey(event) {
    event.preventDefault();
    var txt = ""
    if (event.target.text == "Reveal") {
      txt = document.querySelector("#secret_key").value;
      event.target.text = "Hide"
    } else {
      var secretKeyLength = document.querySelector("#secret_key").value.length;
      txt = new Array(secretKeyLength + 1).join( "*");
      event.target.text = "Reveal"
    }

    document.querySelector("#secret-key-label").innerHTML = txt;
  }

  function secretKeyView(data) {
    var view = `
    <div class="field">
    <label class="label">Secret Key</label>
    <div class="control">
      <input type="hidden" id="secret_key" value="${data.data.secret_key}" />
      <p id="secret-key-label">${new Array(data.data.secret_key.length + 1).join( "*")}</p>
      <a class="button" onclick="revealSecretKey(event)">Reveal</a>
    </div>
    </div>
    `;
    document.querySelector("#secret-key").innerHTML = view;
  }
  function clearErrors(){
    var prevErr = document.getElementById("error");
    if (prevErr){
      prevErr.remove();
    }
  }
  function displayError(message){
    var errorView = `
    <div class="notification is-danger">
      ${message}
    </div>
    `
    var prevErr = document.getElementById("error");
    if (prevErr){
      prevErr.remove();
    }
    var errorNode = document.createElement('div')
    errorNode.id = "error";
    errorNode.innerHTML = errorView;
    document.querySelector('#allowed-domains').prepend(errorNode);
  }
  function clearNoData(){
      var prevNoData = document.getElementById("nodata");
      if (prevNoData){
        prevNoData.remove();
      }
  }
  function displayNoDataView(){

    var prevNoData = document.getElementById("nodata");
    if (prevNoData){
      prevNoData.remove();
    }

    var countRows = document.querySelectorAll("table tr").length
    if (countRows === 0){
      var noDataView = `
      <div class="notification">
        <p id="no-data">No data!</p>
      </div>
      `;
      var noDataNode = document.createElement('div')
      noDataNode.id = "nodata";
      noDataNode.innerHTML = noDataView;
      document.querySelector('#allowed-domains').prepend(noDataNode);
    }
  }

  function closeConfirmModal(e){
    e.preventDefault();
    document.querySelector('.modal').classList.remove('is-active')
  }
  function deleteConfirm(e){
    e.preventDefault();
    e.target.classList.add('is-loading')
    deleteDomain(deleteTargetId, function(data){
      console.log(data);
      if (data.status){
        document.getElementById("tr-" + deleteTargetId).remove();
      }
      else {
        displayError(data.message);
      }
      e.target.classList.remove('is-loading');
      document.querySelector('.modal').classList.remove('is-active')
      displayNoDataView();
      deleteTargetId = 0;
    })
  }
  var deleteTargetId = 0;
  function deleteRow(e) {
    clearErrors();
    deleteTargetId = 0;
    if (e.target.id === "-1") {
      document.getElementById("-1").remove();
      var addNewDomain =  document.getElementById("addNewDomain")
      addNewDomain.text = 'Add new domain'
      addNewDomain.classList.remove('is-success');
      addNewDomain.classList.remove('is-loading');
      displayNoDataView();
    } else {
      deleteTargetId = e.target.id;
      document.querySelector('.modal').classList.add('is-active');
    }
  }
  function addNewDomain(e) {
    e.preventDefault();
    clearErrors();
    clearNoData();
    if(e.target.text == 'Add new domain') {
      var newRow = document.createElement('tr');
      newRow.id = "-1";
      newRow.innerHTML = `
        <td>
          <div class="control new-domain-control">
            <input class="input" type="text" placeholder="Domain name" autofocus="autofocus"></input>
          </div>
        </td>
        <td>
          <div class="field">
            <div class="control">
              <div class="select">
                <select id="domain-type">
                  <option id="1" value="1">View Origin</option>
                  <option id="2" value="2">Download Origin</option>
                </select>
              </div>
            </div>
          </div>
        </td>
        <td><a class="button " id="-1" onclick="deleteRow(event)">Cancel</a></td>
      `
      document.querySelector('table tbody').appendChild(newRow);
      e.target.text = 'Save'
      e.target.classList.add('is-success')
    } else {
      var isFormValid = true;
      e.target.classList.add('is-loading')
      var newDomainControl = document.querySelector('.new-domain-control');
      let input = newDomainControl.querySelector('input');
      var validUrl = true;
      if(input.value.length){
        validUrl = isUrl(input.value);
      }
      if(!input.value.length || !validUrl){
        var prevErr = newDomainControl.querySelector('p.help');
        if (prevErr){
          prevErr.remove();
        }
        let err = document.createElement('p');
        err.classList.add('help')
        err.classList.add('is-danger')
        var errorMessage = 'This field is required!';
        if (!validUrl) {
          errorMessage =  `Please enter a valid URL.`;
        }
        err.innerHTML = errorMessage;
        newDomainControl.appendChild(err);
        input.classList.add('is-danger')
        input.onfocus = function(){
          err.remove();
          input.classList.remove('is-danger')
          isFormValid = true;
        }
        isFormValid = false;
        e.target.classList.remove('is-loading')
      }
      debugger
      var inputType =  document.getElementById('domain-type');
      var inputTypeValue = inputType.options[inputType.selectedIndex].value;
      if (isFormValid) {
        createDomain({
          Name: input.value,
          Type: parseInt(inputTypeValue),
        }, function(response){
          let addNewDomain =  document.getElementById("addNewDomain")

          if(response.status){
            var newDm = createTableRowView(response.domain);
            document.getElementById("-1").remove();
            document.querySelector("#allowed-domains tbody").innerHTML += newDm;
            addNewDomain.text = 'Add new domain'
            addNewDomain.classList.remove('is-success');
            addNewDomain.classList.remove('is-loading')
          }else{
            displayError(response.message)
            addNewDomain.classList.remove('is-loading')
          }
        });
      }
    }
  }

  function createTableRowView(item){
    return `
    <tr id="tr-${item.ID}">
      <td>${item.name}</td>
      <td>${item.type === 1 ? 'View Origin' : 'Download Origin'} </td>
      <td><a id=${item.ID} onclick="deleteRow(event)" style="background: white; color:#ff3860">Delete</a></td>
    </tr>
    `
  }
  function allowedDomainsView(data) {
    var tableRowsView = "";
    for (var i = 0; i < data.allowedDomains.length; i +=1 ){
      var item = data.allowedDomains[i];
      tableRowsView += createTableRowView(item);
    }
    var view = `
      <table class="table">
        <tbody>
        ${tableRowsView}
        </tbody>
      </table>
      <a class="button is-normal" id="addNewDomain" onclick="addNewDomain(event)">Add new domain</a>
    `;
    document.querySelector("#allowed-domains").innerHTML = view;
    displayNoDataView();
  }

  getSettings(function(data){
    console.log(data)
    userDetailsView(data);
    secretKeyView(data);
    allowedDomainsView(data);
  });

</script>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <article class="message">
      <article class="message is-danger">
        <div class="message-header">
          <p>Warning</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          <p>Are you sure you want to delete?</p>
          <br/>
          <a class="button is-white" onclick="closeConfirmModal(event)">Cancel</a>
          <a class="button is-danger" onclick="deleteConfirm(event)">Confirm</a>
        </div>
      </article>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="closeConfirmModal(event)"></button>
</div>

<p class="title">
  User details
</p>
  <hr style="margin: 0 0 3rem;">
  <div id="user-details">
    <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
  </div>
<br/>
<p class="title">
  Secret key
</p>
<hr style="margin: 0 0 3rem;">
<div id="secret-key">
  <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
</div>
<br/>
<p class="title">
  Allowed domains
</p>
<hr style="margin: 0 0 3rem;">
<label class="label">Allowed domains</label>
<div id="allowed-domains">
  <a style="border: 0;" class="button is-loading is-fullwidth is-large">Loading</a>
</div>
<%+ "dashboard_end.html" %>
