<%: func UploadObjectIndex(buffer *bytes.Buffer) %>
<%+ "documentation_start.html" %>
<h1 class="title">Upload Image</h1>
<p class="subtitle is-6">
      A simple <strong>container</strong> to center your content horizontally
  </p>
  <hr style="margin: 0 0 3rem;">
  <div class="content is-small">
    <h2>URL Signing</h2>
    <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
    <ul>
    <li>Account Username</li>
    <li>Secret Key</li>
    <li>Image metadata</li>
    </ul>
</div>
  <!-- <pre>
    <code class="language-js">
    POST localhost:3000/user/ismajl/signUrl
    {
    	"SecretKey": "m3RY3lHdXCcDqOV1aAblcbvXOt3u0imgrpWkI7eIs1bnbZrIeP8nl-pvByMNseEX0bcZWLqwusNvuzDpDYMbrg",
    	"Image":
        {
      		"Name": "nyc",
      		"ContentType": "image/jpeg",
      		"ContentLength": 1440239
      	}
    }
  </code></pre> -->
  <script src="https://gist.github.com/liamsir/dfdb0bf69d78b6fbc39b85bc8b571925.js"></script>
<%+ "documentation_end.html" %>
