<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
      .bd-index-header{
        text-align: center;
      }
      .is-primary{
        background-color: #0071d1 !important;
      }
      .get-started {
        text-align: center;
      }
      .html-tag {
        color: #0071d1;
      }
      .html-attribute{
        color: orange;
      }
      .url-modifiers{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>
      <a class="navbar-item">
        Dashboard
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  <section class="section bd-columns section is-medium">
    <div class="container">
      <header class="bd-index-header">
        <h1 class="title is-3">
          Hello World
        </h1>
        <h4 class="subtitle is-4">
          Just add columns, they will resize themselves
        </h4>
      </header>
    </div>
  </section>
  <section>
        <div class="container get-started">
          <div class="bd-snippet-code highlight-full ">
            <figure class="highlight">
              <pre>
                <code class="language-html" data-lang="html">
                  <span><span class="html-tag">&lt;img</span> <span class="html-attribute">src=</span>"https://imgserver-testing.herokuapp.com/user/ismajl/<span class="url-modifiers">modifiers/resize=w:500,h:500</span>/resource/nature.jpeg"<span class="html-tag">/&gt;</span></span>
                </code>
              </pre>
            </figure>
          </div>
<div>
  <br/>
  <a class="button is-medium  is-primary">Test with new image</a>
</div>
  </div>
  </section>
  <section class="section bd-columns section is-medium">
    <div class="container ">
      <div class="columns">
        <div class="column">
          <a class="bd-focus-item column has-text-centered" href="https://bulma.io/documentation/overview/responsiveness">
      <p class="title is-4">
        <strong>100% Responsive</strong>
      </p>
      <p class="subtitle is-6">Designed for <strong>mobile</strong> first</p>

    </a>
        </div>
        <div class="column">
          <a class="bd-focus-item column has-text-centered" href="https://bulma.io/documentation/overview/responsiveness">
      <p class="title is-4">
        <strong>Modular</strong>
      </p>
      <p class="subtitle is-6">Designed for <strong>mobile</strong> first</p>
      #0071d1

    </a>
        </div>
        <div class="column">
          <a class="bd-focus-item column has-text-centered" href="https://bulma.io/documentation/overview/responsiveness">
      <p class="title is-4">
        <strong>Modular</strong>
      </p>
      <p class="subtitle is-6">Designed for <strong>mobile</strong> first</p>

    </a>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
